<h1>Animals in <%= @zoo.name %></h1>
<%= link_to "Add an animal to #{@zoo.name}", new_zoo_animal_path %>

<% @zoo.animals.each do |animal| %>

	<div>
		<%= link_to animal.name, animal_path(animal) %>
	</div>

<% end %>